<div style="width: 100%; height: 100%; background-color: white; padding: 0; margin: 0; border-radius: 15px;">
    <div style="display: flex; justify-content: center; width: 100%; height: 100%;">
        <nav style="display: flex; list-style: none; width: 100%; align-items: center; justify-content: space-between; margin-right: 2%; margin-left: 2%;">
            <div style="display: flex; width: 30%; align-items: center; justify-content: space-between;">
                <li>
                    <h1> EQUIPE </h1>
                </li>
                <li>
                    logo
                </li>
                <li>
                    LANA
                </li>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%; align-items: center; justify-content: center;">
                <li style="width: 10%;">
                    Développeurs :
                </li>
                <li style="display: flex; flex-direction: row; width: 20%; justify-content: space-between;">
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            Dubois Gabriel
                        </div>
                        <div>
                            Monet Aurore
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            Grimont Jéremy
                        </div>
                        <div>
                            Carion Lilian
                        </div>
                    </div>
                </li>
            </div>

            <li style="width: 20%; justify-content: right; display: flex;">
                Projet Version : 0.1
            </li>
        </nav>
    </div>
</div>

