<div style="width: 100%; height: 100%; background-color: yellow; padding: 0; margin: 0; display: flex; flex-direction: column; align-items: center;">
    <h1 style=""> Représentation des mobiles </h1>
    <div style="width: 95%; height: 90%; background-color: aqua; display: flex; flex-direction: column;">
        <div style="height: 100%; background-color: black;">

        </div>
        <div style="height: 15%; background-color: rebeccapurple;">
            <form action="" style="display: flex; width: 100ù; height: 100%; flex-direction: column;">
                <div style="display: flex; flex-direction: row; height: 100%; width: 100%;">
                    <label for="">Formes :</label>
                    <div>
                        <input type="checkbox"> <label for="">Cercle</label>
                        <input type="checkbox"> <label for="">Carré</label>
                        <input type="checkbox"> <label for="">Losange</label>
                        <input type="checkbox"> <label for="">Triangle</label>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; height: 100%; width: 100%;">
                    <label for="">Formes :</label>
                    <div>
                        <input type="checkbox"> <label for="">Bleu</label>
                        <input type="checkbox"> <label for="">Violet</label>
                        <input type="checkbox"> <label for="">Rouge</label>
                        <input type="checkbox"> <label for="">Orange</label>
                        <input type="checkbox"> <label for="">Jaune</label>
                        <input type="checkbox"> <label for="">Vert</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>